<!-- <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <input formControlName="title" placeholder="Job Title" />
    <input formControlName="description" placeholder="Description" />
    <input formControlName="location" placeholder="Location" />
    <input type="number" formControlName="salary" placeholder="Salary" />
    <input formControlName="company" placeholder="Company" />
    <input formControlName="jobType" placeholder="Job Type" />
    <button type="submit">Save</button>
  </form>
   -->

   <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <h2>Create / Edit Job</h2>
    <input formControlName="title" placeholder="Job Title" />
    <input formControlName="description" placeholder="Description" />
    <input formControlName="location" placeholder="Location" />
    <input type="number" formControlName="salary" placeholder="Salary" />
    <input formControlName="company" placeholder="Company" />
    <input formControlName="jobType" placeholder="Job Type" />
    <button type="submit">💾 Save</button>
  </form>
  